<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>code with michael</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="/Templates/style.css"
    </head>

    <body>
        <div class="code">
            <h1>Code with Michael</h1>
        </div>
    <nav class="navbar is-info">
        <div class="navbar-brand">
        </div>
    </nav>

    <section class="section">
        <div class="container">
            
        </div>
    </section>
  </body>
  {% block content %}
    {% endblock %}
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>